/*----------------------------------------- EXPERIENCES -----------------------------------------*/
.experiences {
  margin-top: 1.5rem;
  border: 1px solid $border;
  padding: 2rem;
  h3 {
    font-size: 2.7rem;
  }
  .modelExperiences {
    margin: 1.5rem 0;
    display: grid;
    grid:
      "years info" 1fr
      / 9rem 1fr;
    &-years {
      grid-area: years;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      color: $gray;
    }
    &-info {
      grid-area: info;
      h4 {
        color: $middle;
        font-size: 1.9rem;
      }
      &-company {
        font-style: italic;
        font-weight: 700;
        margin-bottom: 1rem;
        span {
          text-transform: uppercase;
        }
      }
      &-description {
        font-weight: 300;
        text-align: justify;
      }
    }
  }
}

@include small {
  .experiences {
    .modelExperiences {
      grid:
        "years info" 1fr
        / 5rem 1fr;
    }
  }
}
