/*----------------------------------------- NORMALIZE -----------------------------------------*/
/*--- MAIN GRID ---*/
body {
  background: $background;
  color: $text;
  font-family: $font;
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
    display: grid;
    grid:
      "aside content" 1fr
      / 1fr 3fr;
    gap: 2rem;
    aside {
      grid-area: aside;
      border-right: 1px solid $border;
      padding: 0 2rem;
      .title {
        text-align: center;
      }
    }
    section {
      grid-area: content;
      padding: 0 2rem;
    }
  }
  .footer {
    grid-area: footer;
  }
}

@include small {
  body .main {
    grid:
      "aside" auto
      "content" auto
      / 1fr;
  }
}

/*--- LINK ---*/
a {
  color: $text;
}

/*--- SET DEFAULT TITLE ---*/
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
