@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$font: "Josefin Sans", sans-serif;

$light: #00c3ff;
$middle: #2071e7;
$dark: #2980b9;
$gray: #999999;
$text: #333333;
$background: #fafafa;
$border: #dddddd;
